<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.woohsi.bookfriend.dao.BookDao">

    <insert id="saveBook" parameterType="Book">
        insert into book(bkid,bkname,bkprice,bkpress,bkdescription,status,uid,bkimg,onsell)
        values(null, #{bkname}, #{bkprice}, #{bkpress}, #{bkdescription}, #{status}, #{uid}, #{bkimg}, #{onsell})
    </insert>
    <select id="queryBook" parameterType="Integer" resultType="Book">
        select * from book where bkid=#{bkid}
    </select>
    <update id="updateBook" parameterType="Book">
        update book set
            bkname=#{bkname},
            bkprice=#{bkprice},
            bkpress=#{bkpress},
            bkdescription=#{bkdescription},
            status=#{status},
            uid=#{uid},
            bkimg=#{bkimg},
            onsell=#{onsell}
        where bkid=#{bkid}
    </update>
    <select id="selectAllBooks" resultType="Book">
        select * from book where onsell=1
    </select>
    <select id="selectOnSellBookByUid" parameterType="Integer" resultType="Book">
        select * from book where uid=#{uid} and onsell=1
    </select>

    <select id="selectBookByKeyword" parameterType="String" resultType="Book">
        select * from book where onsell=1 and bkname like concat('%', #{keyword}, '%');
    </select>
    <delete id="deleteBook" parameterType="Integer">
        delete from book where bkid=#{bkid}
    </delete>
    <select id="selectAllBookByUid" parameterType="Integer" resultType="Book">
        select * from book where uid=#{uid}
    </select>
    <select id="selectBookForCheck" resultType="Book">
        select * from book where onsell=0
    </select>
    <update id="setOnSell" parameterType="Integer">
        update book set
        onsell=1
        where bkid=#{bkid}
    </update>
</mapper>