<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.woohsi.bookfriend.dao.OrderDao">

    <insert id="saveOrder" parameterType="map">
        insert into `order`(oid, bkid, buid, suid)
        values(null, #{bkid}, #{buid}, #{suid})
    </insert>
    <select id="selectAllSellOrders" parameterType="Integer" resultType="map">
        select `order`.oid, book.bkname, book.bkprice, buser.email
        from book, `order`, user buser where `order`.bkid=book.bkid and order.buid=buser.uid and `order`.suid=#{uid}
    </select>
    <select id="selectAllBuyOrders" parameterType="Integer" resultType="map">
        select `order`.oid, book.bkname, book.bkprice, suser.email
        from book, `order`, user suser where `order`.bkid=book.bkid and `order`.suid=suser.uid and `order`.buid=#{uid}
    </select>
    <delete id="deleteOrder" parameterType="Integer">
        delete from Order where bkid=#{bkid}
    </delete>
</mapper>