<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.woohsi.Orderfriend.dao.OrderDao">

    <insert id="saveOrder" parameterType="map">
        insert into Order(bkid,bkname,bkprice,bkpress,bkdescription,status,uid)
        values(null, #{bkname}, #{bkprice}, #{bkpress}, #{bkdescription}, #{status}, #{uid})
    </insert>
    <select id="selectAllOrders" parameterType="User" resultType="Order">
        select * from Order where uid=#{uid}
    </select>
    <delete id="deleteOrder" parameterType="Integer">
        delete from Order where bkid=#{bkid}
    </delete>
</mapper>